.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.search-input-container {
  margin-top: 25vh;
  padding: 20px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  border-radius: 4px;
  max-height: 400px;
}

.search-results-container {
  max-height: 300px;
  overflow: auto;
}

.github-link {
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
